.body{
    margin: 0%;
    padding: 0%;
}
.covid-19-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.covid-title{   
    font-family: Playfair Display;
    padding: 1%;
}

.navbar{
    margin: 1%;
}
.color-link-covid{
    color: crimson;
}
a:hover{
    color: crimson;
}